@charset "utf-8";
/* CSS Document */
#section {
	margin:10px 0px 0px;
}
#section hr {
	border-bottom:none;
	border-top:1px solid #dadada;
	margin:0px;
}
#section > hgroup {
	background-color:#FFF;
	padding:0px 10px;
}
#section > hgroup a h4{
	text-decoration:underline;
}
#section > hgroup h3 {
	float:left;
	line-height:44px;
	color:#000;
	font-size:14px;
	font-weight:normal;
}
#section > hgroup h4 {
	float:left;
	line-height:44px;
	color:#64adb0;
	font-size:14px;
	font-weight:normal;
}


@media (min-width:375px) and (max-width:480px) {
	#section > hgroup h3,#section > hgroup h4 {
		font-size:16px;
	}
	
}
@media (min-width:481px) and (max-width:621px) {
	#section > hgroup h3,#section > hgroup h4 {
		font-size:18px;
	}
}
@media (min-width:622px) {
	#section > hgroup h3,#section > hgroup h4 {
		font-size:20px;
	}
}









