@charset "utf-8";
/* CSS Document */


#section {
	margin:10px 0px 0px;
}

#section > .set figure {
	background-color:#FFF;
	padding:0px 10px;
	cursor:pointer;
}
#section > .set figure .ctrlbox {
	width:44px;
	height:24px;
	-webkit-border-radius:24px;
	-moz-border-radius:24px;
	-ms-border-radius:24px;
	-o-border-radius:24px;
	border-radius:24px;
	background-color:#64adb0;
	padding:2px;
	float:right;
	margin:10px 0px;
}
.bg {
	background-color:#999 !important;
}
#section > .set figure .ctrlbox .ctrl:nth-child(1) {
	width:20px;
	height:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	background-color:#fff;
	margin:0px;
}
#section > .set figure .ctrlbox .ctrl:nth-child(2) {
	width:20px;
	height:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	background-color:#fff;
	margin:0px 0px 0px 20px;
	display:none;
}

#section > .set figure figcaption {
	float:left;
	line-height:44px;
	color:#000;
	font-size:14px;
}

#section > p {
	width:96%;
	margin:10px auto 0px;
	line-height:20px;
	color:#646464;
	font-size:12px;
}

@media (min-width:375px) and (max-width:480px) {
	#section > .set figure figcaption {
		font-size:16px;
	}
	#section > p {
		font-size:14px;
	}
}

@media (min-width:481px) and (max-width:621px) {
	#section > .set figure figcaption {
		font-size:18px;
	}
	#section > p {
		font-size:16px;
	}
}

@media (min-width:622px) {
	#section > .set figure figcaption {
		font-size:20px;
	}
	#section > p {
		font-size:18px;
	}
}








